config LGE_PM_VIRTUAL_SENSOR
	bool "LGE Virtual Sensor driver"
	depends on THERMAL_OF
	help
	  This driver has the information about the virtual sensors and 
	  registers the virtual sensors to a thermal zone.
	  The virtual sensor information includes the underlying thermal
	  sensors to query for temperature and the aggregation logic to
	  determine the virtual sensor temperature.
